transformers[torch]==4.46.1
onnxruntime==1.19.2
optimum==1.23.3
onnx==1.17.0
onnxconverter-common==1.14.0
tqdm==4.66.5
onnxslim==0.1.36
--extra-index-url https://pypi.ngc.nvidia.com
onnx_graphsurgeon==0.3.27
streamlit
evaluate==0.4.2
numpy
pandas
bs4
scikit-learn
